<!-- Buttons -->
<div *ngIf="isInitialized()">

  <div style="display: inline;">
    <button mat-raised-button (click)="activateAdding()">Add</button>
  </div>

  <div *ngIf="hasSelected()" style="display: inline;">
    <button mat-raised-button (click)="activateEditing()">Change</button>
    <button mat-raised-button (click)="deleteEmployee()">Delete</button>
  </div>

</div>

<!-- Departments table -->
<table mat-table [dataSource]="employees" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="salary">
    <th mat-header-cell *matHeaderCellDef> Salary </th>
    <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
  </ng-container>

  <ng-container matColumnDef="hired">
    <th mat-header-cell *matHeaderCellDef> Hired </th>
    <td mat-cell *matCellDef="let element"> {{ element.hired | date }} </td>
  </ng-container>

  <ng-container matColumnDef="departmentName">
    <th mat-header-cell *matHeaderCellDef> Department name </th>
    <td mat-cell *matCellDef="let element"> {{element.departmentName}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <div *ngIf="isInitialized()">
    <tr mat-row *matRowDef="let row; columns: columns;" [ngClass]="{hovered: row.hovered, highlighted: isSelected(row)}"
      (mouseover)="row.hovered = true" (mouseout)="row.hovered = false" (click)="selectRow(row)">
    </tr>
  </div>

</table>

<app-paginator (paginatorStateChangedEvent)="paginatorStateChanged($event)"></app-paginator>

<app-employee-editor (successEditEvent)="afterEditing()"></app-employee-editor>
